@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.runner_page_event_link{
    width: 100%;
}

#runner_name_title{
font-family: 'Ubuntu', sans-serif;
font-size: 80px;
}

.fav_runner_link{
    width: 100%
}