@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.runner_page_event_link{
    width: 100%;
}

#runner_name_title{
font-family: 'Ubuntu', sans-serif;
font-size: 80px;
}

.fav_runner_link{
    width: 100%
}

#user_page_links {
    font-family: 'Comfortaa', cursive;
    color: #fff;
    background: linear-gradient(to right, #FFBF00, #FFBF00 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers
    &:hover {
      background-position: 0 100%;
    }
  }