html,
body {
  height: 100vh;
  width: 100vw;
}

#root {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 7px;
  background: #f0f0f0;
}

.ccard-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  a {
    text-decoration: none;
    color: black;
}
}

.ccard {
  width: 20ch;
  height: 10ch;
  background: hotpink;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  will-change: transform;
  h1 {
      text-align: center;
      line-height: 120px;
  }
}

.ccard:hover {
    background: rgb(255, 255, 255);
}

#leva__root {
  display: none;
}