@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}


@import './components/events/eventsforyou.scss';
@import './components/navbar.scss';
@import './components/home.scss';
@import './components/events/singleevent.scss';
@import './components/events/events.scss';
@import './components/Profile/runner.scss';
@import './components/Profile/user'
